##### Q1. What are the three measures of central tendency?

##### Ans: 

**Central tendency**
Definition: the tendency of quantitative data to cluster around some central value. The closeness with which the values surround the central value is commonly quantified using the standard deviation. They are classified as summary statistics


**Three Measures of Central Tendency**

**Mean**: The sum of all measurements divided by the number of observations.Can be used with discrete and continuous data. It is value that is most common.

**Median**: The middle value that separates the higher half from the lower half. Mean and median can be compared with each other to determine if the population is of normal distribution or not. Numbers are arranged in either ascending or descending order. The middle number is than taken.

**Mode**: The most frequent value. It shows most popular option and is the highest bar in histogram.Example of use: to determine the most common blood group.
Geometric mean - the nth root of the product of the data values.

##### Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

##### Ans: All these measures of central tendencies are co-related. They share an empirical relationship but are different from each other. Here are the differences:

|S.No|	Mean|	Median|	Mode|
|----|-----|-------|------|
|1 |	The average taken of given observations is called Mean. |	The middle number in a given set of observations is called Median.|	The most frequently occurred number in a given set of observations is called mode.|
|2|	Add up all the numbers and divide by the total number of terms	|Place all the numbers in ascending or descending order | the mode is derived when a number has frequency occurred in a series
|3|	 Once the above step is finished, what we get is the mean. |	After arranging everything from smallest to biggest, take out the middle number, which is your median.|	The mode can be one or more than one. It is possible to have no mode at all, as well|
|4|	Mean is the arithmetic mean or in a  simple way can be a simple average or weighted average. |	When series have even numbers, median is the simple average of the middle pair of numbers. |	If there is a unique data set, there is no mode at all.|
|5|	When data is normally distributed, the mean is widely preferred. |	When data distribution is skewed, median is the best representative.	|When there is a nominal distribution of data, the mode is preferred.|
|6|	Mean= x̄ = ∑x/ N |	If the total number of observations (n) are odd then median is: Median = (n + 1/2)th observation ,If the total number of observations (n) are even number, then the formula is given below: Median = (n/2)th observation + (n/2+1)th observation /2 |The mode is the most frequently occurring observation or value |

##### Q3. Measure the three measures of central tendency for the given height data:
 [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [30]:
##### Ans:
h_data =  [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
import pandas as pd
df = pd.DataFrame(h_data)
df

        0
0   178.0
1   177.0
2   176.0
3   177.0
4   178.2
5   178.0
6   175.0
7   179.0
8   180.0
9   175.0
10  178.9
11  176.2
12  177.0
13  172.5
14  178.0
15  176.5

In [33]:
df.mean()

0    177.01875
dtype: float64

In [32]:
df.median()

0    177.0
dtype: float64

In [31]:
df.mode()

       0
0  177.0
1  178.0

##### Q6. What is a Venn diagram?

##### Ans: 
A Venn diagram is an illustration that uses circles to show the relationships among things or finite groups of things. Circles that overlap have a commonality while circles that do not overlap do not share those traits.

In [ ]:
##### Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). 
Find:
(i) 	A intersection B 
(ii)	A ⋃ B

In [40]:
##### Ans: 
A = {2,3,4,5,6,7}
B = {0,2,6,8,10}

print(A.intersection(B))
print(A.union(B))

{2, 6}
{0, 2, 3, 4, 5, 6, 7, 8, 10}

In [41]:
##### Q8. What do you understand about skewness in data?

##### Ans: 
Skewness is a measurement of the distortion of symmetrical distribution or asymmetry in a data set. 
Skewness is demonstrated on a bell curve when data points are not distributed symmetrically to the left and right sides of the median on a bell curve. If the bell curve is shifted to the left or the right, it is said to be skewed.

##### Q9. If a data is right skewed then what will be the position of median with respect to mean?

##### Ans:

###