##### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [68]:
#### Answer :
import pandas as pd 
data =  [4,8,15,16,23,24]

In [69]:
df = pd.Series(data)

In [70]:
df

0     4
1     8
2    15
3    16
4    23
5    24
dtype: int64

##### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on thevariable print it.

In [77]:
#### Answer :
variable_list = [2,3,4,5,6,7,8,9,10,11]
print(len(variable_list))
df1 = pd.Series(variable_list)
df1

10

0     2
1     3
2     4
3     5
4     6
5     7
6     8
7     9
8    10
9    11
dtype: int64

In [72]:
##### Q3. Create a Pandas DataFrame that contains the following data:Then, print the DataFrame.

In [73]:
#### Answer :
data = {"Name":["Alice", "Bob", "Claire"],
       "Age":[25,30,27],
       "Gender":["Female" , "Male","Female"]}

In [79]:
df3 = pd.DataFrame(data)

In [80]:
df3

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##### Q.4 What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [82]:
#### Answer :
##### The Pandas DataFrame is a two-dimensional data structure composed of columns and rows.
##### The Pandas Series data structure is a one-dimensional labelled array. It is the primary building block for a DataFrame, making up its rows and columns. You can view the constructor for the Series below.
# example
d1 = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d1, index=['a', 'b', 'c'])
print("Series example :\n",ser)
df2 = pd.DataFrame(data)
print("Dataframe example :\n",df2)

Series example :
 a    1
b    2
c    3
dtype: int64
Dataframe example :
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

##### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Canyou give an example of when you might use one of these functions?

In [ ]:
#### Answer:
##### Perform Group by operation seamlessly
##### Datasets are mutable using pandas which means we can add new rows and columns to them.
##### Easy to handle missing data
##### Merge and join datasets
##### Indexing and subsetting data

##### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
#### Answer:
###### DataFrames are both value-mutable and size-mutable (Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed).


##### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [101]:
#### Answer:
# Create pandas Series
courses = pd.Series(["data science","Java","C++","Data analytic"])
fees = pd.Series([7000,7000,7000,1000])
discount  = pd.Series([3500,3500,3500,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
df.columns = ["courses","fees","discount"]
print(df)

         courses  fees  discount
0   data science  7000      3500
1           Java  7000      3500
2            C++  7000      3500
3  Data analytic  1000      1000