In [1]:
import numpy as np

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

In [3]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(0.4,10.4))

TypeError: 'float' object cannot be interpreted as an integer

In [5]:
list(np.arange(.4 , 10.4 , 0.2))

[0.4,
 0.6000000000000001,
 0.8000000000000002,
 1.0000000000000002,
 1.2000000000000002,
 1.4000000000000004,
 1.6000000000000005,
 1.8000000000000003,
 2.0000000000000004,
 2.2000000000000006,
 2.400000000000001,
 2.6000000000000005,
 2.8000000000000007,
 3.000000000000001,
 3.2000000000000006,
 3.400000000000001,
 3.600000000000001,
 3.800000000000001,
 4.000000000000002,
 4.200000000000001,
 4.400000000000002,
 4.600000000000001,
 4.800000000000002,
 5.000000000000002,
 5.200000000000002,
 5.400000000000002,
 5.600000000000002,
 5.8000000000000025,
 6.000000000000002,
 6.200000000000002,
 6.400000000000002,
 6.600000000000002,
 6.8000000000000025,
 7.000000000000003,
 7.200000000000003,
 7.400000000000003,
 7.600000000000003,
 7.8000000000000025,
 8.000000000000002,
 8.200000000000003,
 8.400000000000004,
 8.600000000000003,
 8.800000000000002,
 9.000000000000004,
 9.200000000000003,
 9.400000000000004,
 9.600000000000003,
 9.800000000000004,
 10.000000000000004,
 10.200000000000003]

In [6]:
np.linspace(1,5 ,20)

array([1.        , 1.21052632, 1.42105263, 1.63157895, 1.84210526,
       2.05263158, 2.26315789, 2.47368421, 2.68421053, 2.89473684,
       3.10526316, 3.31578947, 3.52631579, 3.73684211, 3.94736842,
       4.15789474, 4.36842105, 4.57894737, 4.78947368, 5.        ])

In [8]:
np.logspace(1,5, 10 , base=2)

array([ 2.        ,  2.72158   ,  3.70349885,  5.0396842 ,  6.85795186,
        9.33223232, 12.69920842, 17.28095582, 23.51575188, 32.        ])

In [9]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [10]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [11]:
np.zeros((3,4,2))

array([[[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.],
        [0., 0.]]])

In [12]:
np.zeros((3,4,4,2))

array([[[[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]]],


       [[[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]]],


       [[[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]],

        [[0., 0.],
         [0., 0.],
         [0., 0.],
         [0., 0.]]]])

In [13]:
np.ones(5)

array([1., 1., 1., 1., 1.])

In [14]:
arr = np.ones((3,4))

In [15]:
arr

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [16]:
arr+5

array([[6., 6., 6., 6.],
       [6., 6., 6., 6.],
       [6., 6., 6., 6.]])

In [17]:
arr*4

array([[4., 4., 4., 4.],
       [4., 4., 4., 4.],
       [4., 4., 4., 4.]])

In [19]:
np.empty((3,4))

array([[4., 4., 4., 4.],
       [4., 4., 4., 4.],
       [4., 4., 4., 4.]])

In [20]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [26]:
arr1 = np.eye(5)

In [23]:
import pandas as pd

In [27]:
arr1

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [28]:
pd.DataFrame(arr1)

     0    1    2    3    4
0  1.0  0.0  0.0  0.0  0.0
1  0.0  1.0  0.0  0.0  0.0
2  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  0.0  0.0  1.0

In [29]:
np.random.rand(2,3)

array([[0.48015058, 0.63290792, 0.13010411],
       [0.68811214, 0.75811868, 0.10681522]])

In [30]:
# Normal distribution 
np.random.randn(2,3)

array([[-0.10947235,  0.13521436,  2.11094905],
       [ 0.74264894,  0.85942089,  0.53334982]])

In [40]:
arr2 = np.random.randint(1,5 ,(3,4))

In [33]:
arr2

array([[2, 4, 4, 3, 3],
       [2, 2, 1, 4, 3],
       [3, 2, 2, 4, 4]])

In [41]:
arr.size

12

In [42]:
arr.shape

(3, 4)

In [43]:
arr2.reshape(6,2)

array([[2, 2],
       [3, 4],
       [3, 2],
       [3, 1],
       [3, 3],
       [1, 4]])

In [44]:
arr2.reshape(4,3)

array([[2, 2, 3],
       [4, 3, 2],
       [3, 1, 3],
       [3, 1, 4]])

In [46]:
arr2.reshape(4,-1)

array([[2, 2, 3],
       [4, 3, 2],
       [3, 1, 3],
       [3, 1, 4]])

In [47]:
arr2.reshape(4,-1432453453)

array([[2, 2, 3],
       [4, 3, 2],
       [3, 1, 3],
       [3, 1, 4]])

In [48]:
arr2.reshape(2,2,3,1,1,1)

array([[[[[[2]]],


         [[[2]]],


         [[[3]]]],



        [[[[4]]],


         [[[3]]],


         [[[2]]]]],




       [[[[[3]]],


         [[[1]]],


         [[[3]]]],



        [[[[3]]],


         [[[1]]],


         [[[4]]]]]])

In [49]:
arr1 = np.random.randint(1,10 , (5,6))

In [50]:
arr1

array([[9, 2, 3, 4, 7, 9],
       [8, 3, 2, 8, 4, 8],
       [4, 2, 3, 4, 8, 2],
       [8, 6, 1, 3, 8, 3],
       [1, 6, 3, 7, 4, 5]])

In [51]:
arr1 >8

array([[ True, False, False, False, False,  True],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [52]:
arr1[arr1 >8]

array([9, 9])

In [53]:
arr1 >8

array([[ True, False, False, False, False,  True],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [54]:
arr1

array([[9, 2, 3, 4, 7, 9],
       [8, 3, 2, 8, 4, 8],
       [4, 2, 3, 4, 8, 2],
       [8, 6, 1, 3, 8, 3],
       [1, 6, 3, 7, 4, 5]])

In [63]:
arr1[0]

array([9, 2, 3, 4, 7, 9])

In [56]:
arr1[1,1]

3

In [62]:
arr1[0,[0,1]]

array([9, 2])

In [64]:
arr1[2:4 , [2,3]]

array([[3, 4],
       [1, 3]])

In [65]:
arr1 = np.random.randint(1,3 , (3,3))
arr2 = np.random.randint(1,3 , (3,3))

In [66]:
arr1

array([[2, 1, 1],
       [1, 1, 2],
       [1, 1, 2]])

In [67]:
arr2

array([[1, 2, 2],
       [1, 2, 2],
       [1, 2, 1]])

In [68]:
arr1+arr2

array([[3, 3, 3],
       [2, 3, 4],
       [2, 3, 3]])

In [69]:
arr1-arr2

array([[ 1, -1, -1],
       [ 0, -1,  0],
       [ 0, -1,  1]])

In [72]:
arr1@arr2

array([[4, 8, 7],
       [4, 8, 6],
       [4, 8, 6]])

In [71]:
arr1/arr2

array([[2. , 0.5, 0.5],
       [1. , 0.5, 1. ],
       [1. , 0.5, 2. ]])

In [73]:
# index by muliplication
arr1*arr2

array([[2, 2, 2],
       [1, 2, 4],
       [1, 2, 2]])

In [74]:
arr1/0

C:\Users\rajab\AppData\Local\Temp\ipykernel_13068\1510032488.py:1: RuntimeWarning: divide by zero encountered in divide
  arr1/0

array([[inf, inf, inf],
       [inf, inf, inf],
       [inf, inf, inf]])

In [75]:
#nUmpy - Broadcasting.

In [77]:
arr = np.zeros((3,4))

In [79]:
arr

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [80]:
arr+5

array([[5., 5., 5., 5.],
       [5., 5., 5., 5.],
       [5., 5., 5., 5.]])

In [81]:
a = np.array([1,2,3,4])

In [82]:
arr+a

array([[1., 2., 3., 4.],
       [1., 2., 3., 4.],
       [1., 2., 3., 4.]])

In [83]:
b = np.array([[3,4,5]])

In [92]:
arr+b

ValueError: operands could not be broadcast together with shapes (3,4) (1,3)

In [86]:
arr1 = arr+b.T

In [85]:
b.T

array([[3],
       [4],
       [5]])

In [87]:
arr1

array([[3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.]])

In [ ]:
np.sqrt(arr1)

In [88]:
np.log10(arr1)

array([[0.47712125, 0.47712125, 0.47712125, 0.47712125],
       [0.60205999, 0.60205999, 0.60205999, 0.60205999],
       [0.69897   , 0.69897   , 0.69897   , 0.69897   ]])

In [89]:
np.exp(arr1)

array([[ 20.08553692,  20.08553692,  20.08553692,  20.08553692],
       [ 54.59815003,  54.59815003,  54.59815003,  54.59815003],
       [148.4131591 , 148.4131591 , 148.4131591 , 148.4131591 ]])

In [90]:
np.min(arr1)

3.0

In [91]:
np.max(arr1)

5.0